<div class="container">
  <h1>This i s the home</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia est maxime laborum modi officiis a quibusdam enim fugiat ipsum, tenetur totam, dolorem numquam laboriosam aut voluptatem neque quos harum asperiores.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia est maxime laborum modi officiis a quibusdam enim fugiat ipsum, tenetur totam, dolorem numquam laboriosam aut voluptatem neque quos harum asperiores.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia est maxime laborum modi officiis a quibusdam enim fugiat ipsum, tenetur totam, dolorem numquam laboriosam aut voluptatem neque quos harum asperiores.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia est maxime laborum modi officiis a quibusdam enim fugiat ipsum, tenetur totam, dolorem numquam laboriosam aut voluptatem neque quos harum asperiores.</p>
</div>